<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br><br>
  <nav>
  <button > <a routerLink="registration-page">Register.</a></button>
  </nav>
  <router-outlet></router-outlet>
  <div class="text-center">
    <table align="center">
      <tr>
        <th>Name</th>
        <th>father name</th>
        <th>email</th>
        <th>password</th>
        <th>present address</th>
        <th>DOB</th>
        <th>gender</th>
        <th>mobile number</th>
      </tr>
      <tr  >
        <td>{{first}}</td>
        <td >{{father}}</td>
        <td>{{emal}}</td>
        <td>{{pwd}}</td>
        <td>{{precentadd}}</td>
        <td>{{dat}}</td>
        <td>{{gend}}</td>
        <td>{{mob}}</td>
      </tr>
    </table>
  </div>

</div>>
