h1{
  color:red;
}
/*table{
  border-collapse: collapse;
  border: 1px solid black;

}*/
.button{
  width:100%;
  color: brown;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
 padding: 10px;
  text-align: left;
}
th{
  background: aquamarine;
}
tr{
  background: cadetblue;
}
