<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    My name is {{name}}!.</h1><br>
  <span *ngFor = "let fruit of fruits"><!--input type="submit" value={{fruit}} (click)="value(fruit)"-->
    <button (click)="value(fruit)">{{fruit}}</button></span>
  <p id="id1"> </p><br>

  <table align="center">
    <button class="button"> <tr>
      <th>Name</th>
      <th>Id</th>
     <th>Phone</th>
    </tr></button><br>

    <button class="button" (click)="send(0)"><tr>
      <td>{{data.name[0]}}</td>
      <td>{{data.id[0]}}</td>
     <td>{{data.phone[0]}}</td>
   </tr></button><br>

    <button class="button" (click)="send(1)"><tr>
      <td>{{data.name[1]}}</td>
      <td>{{data.id[1]}}</td>
      <td>{{data.phone[1]}}</td>
      </tr></button><br>

    <button class="button" (click)="send(2)"><tr>
      <td>{{data.name[2]}}</td>
      <td>{{data.id[2]}}</td>
      <td>{{data.phone[2]}}</td>
    </tr></button>
  </table>

  <span *ngIf="array">
      <app-user-details (someValue)="passValue($event)" [value]="array"></app-user-details>

  </span>
    <p *ngIf="title">
      {{title}}
    </p>
  <p>{{data}}</p>
  </div>



